<div class="pull-right">
  <small>
    <% if admin_user %>
      <%= link_to 'Edit', edit_genre_path(@genre) %> |
      <%= link_to 'Delete', @genre, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
      <%= link_to 'View all genres', genres_path %> </small>
  </small>
</div>

<div>

  <h4><%= @genre.name %></h4>

  <div class="row-fluid">

    <div class="span3">

      <p><% @genre.albums.uniq.shuffle[0, 3].each do |album| %>
        <%= image_tag(album.cover_file_url.to_s, :size => "225x225", :class => "img-polaroid")%><p />
            <p><%= link_to album.name, album %></p><br/>
      <% end %>

    </div>

    <div class="span9">

      <table class="table table-condensed table-hover">

      <%= render :partial => 'shared/table_head' %>

        <tbody>
          <%= render :partial => 'shared/song', :collection => @genre.songs.order(:name), :as => :song %>
        </tbody>
      </table>
    </div>

  </div>

</div>