<%= simple_form_for @artist, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :dob, label: 'Date of Birth',
    :as => :date, :start_year => 1800,
    :end_year => Date.today.year - 10,
    :order => [:day, :month, :year] %>
  <%= f.input :bio %>

  <%= f.error :base %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-info' %>
    <%= link_to 'cancel', artists_path, :class => 'btn' %>
  </div>

<% end %>