<div class="pull-right">
  <small><%= link_to 'Add an artist', new_artist_path %> </small>
</div>

<div>
  <h4>xTunes Artists</h4>

  <div class="row-fluid" "span12">

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Artist</th>
          <th>Song</th>
          <th>Album</th>
          <th></th>
        </tr>
      </thead>

      <% @artists.each do |artist| %>
      <tr>

        <td><%= link_to (image_tag(artist.photo.to_s, :size => "75x75", :class => "img-polaroid")), artist %></td>

        <td>
          <strong><%= link_to artist.name, artist %></strong></br>
          <dl class="dl">
            <dt><small>BORN</small></dt> <dd><%= artist.dob.to_formatted_s(:long) %></dd>
          <dt><small>MISC</small></dt>
            <dd></dd>
          </dl>
        </td>

        <td>
          <% artist.songs.each do |song| %>
            <%= link_to song.name, song %></br>
          <% end %>
        </td>

        <td>
          <% artist.albums.each do |song| %>
            <%= link_to song.name, song %></br>
          <% end %>
        </td>

        <td><small>
          <%= link_to 'Details', artist %> |
          <%= link_to 'Edit', edit_artist_path(artist) %> |
          <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>