<% if admin_user %>
  <div class="pull-right">
    <small><%= link_to 'Add an artist', new_artist_path %> </small>
  </div>
<% end %>

<div>
  <h4>xTunes Artists</h4>

  <div class="row-fluid" "span12">

    <% @artists.each do |artist| %>

      <div class="album">

      <% if admin_user %>
        <td><small>
          <%= link_to 'Details', artist %> |
          <%= link_to 'Edit', edit_artist_path(artist) %> |
          <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small></td>
      <% end %>

        <td><%= link_to (image_tag(artist.photo.to_s, :size => "150x150", :class => "img-polaroid")), artist %></td>

      <dl class="dl-horizontal">
        <dt><small>Artist</small></dt>
          <dd><small><%= link_to truncate(artist.name, :length => 20), artist %></small></dd>
        <dt><small>Albums</small></dt>
          <dd><small>
            <% artist.albums.order(:release).reverse.uniq[0, 3].each do |album| %>
             <%= link_to truncate(album.name, :length => 25), album %></br>
            <% end %>
          </small></dd>
      </dl>

      </div>

    <% end %>

  </div>

</div>