<div class="pull-right">
  <small>
    <% if admin_user %>
      <%= link_to 'Edit', edit_artist_path(@artist) %> |
      <%= link_to 'Delete', @artist, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
      <%= link_to 'View all artists', artists_path %>
  </small>
</div>

<div>

  <h4><%= @artist.name %></h4>

  <div class="row-fluid">

    <div class="span3">

      <%= image_tag(@artist.photo_url.to_s, :size => "225x225", :class => "img-polaroid") %>

      <dl class="dl-horizontal">
        <dt><small>Born</small></dt>
        <dd><small><%= @artist.dob.to_formatted_s(:long) %></small></dd>
      </dl>

      <small><%= @artist.bio %></small>

    </div>

      <div class="span9">

        <div class="row-fluid">

        <h5>Albums</h5>

        <% @artist.albums.order(:release).reverse.each do |album| %>

          <div class="album-artist">

            <%= link_to (image_tag(album.cover_file_url.to_s, :size => "150x150", :class => "img-polaroid")), album %>

            <dl class="dl-horizontal">
              <dt><small>Title</small></dt>
                <dd><small><%= album.name %></small></dd>
              <dt><small>Release</small></dt>
                <dd><small><%= album.release.year %></small></dd>
            </dl>

          </div>

        <% end %>

    </div>

        <div class="row-fluid">

        <h5>Songs</h5>

        <table class="table table-condensed table-hover">

          <%= render :partial => 'shared/table_head' %>

          <tbody>

            <%= render :partial => 'shared/song', :collection => @artist.songs, :as => :song %>

          </tbody>
        </table>

    </div>


  </div>


</div>