<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <% if !current_user.nil? && current_user.admin %>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %><br />
  </div>

  <% else %>

  <%= f.input :gender, :collection => [:male, :female] %>
  <%= f.input :age, :collection => 18..110 %>


  <div class="field">
    <%= f.label 'age' %><br />
    <%= f.number_field 'age' %>
  </div>

  <div class="field">
    <%= f.label 'avatar_file' %><br />
    <%= f.file_field 'avatar_file' %>
  </div>

  <div class="field">
    <%= f.label :remote_avatar_file_url, 'or add image URL' %><br />
    <%= f.text_field :remote_avatar_file_url %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>