<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

    <div class="field">
      <%= f.input :admin, :inline_label => 'Check here to allow admin privileges.' %><br />
  </div>


    <%= f.input :gender, :collection => [:male, :female] %>
    <%= f.input :age, :collection => 18..110 %>
    <%= f.input :avatar_file, label: 'Upload Avatar' %>
    <%= f.input :remote_avatar_file_url, label: 'Avatar Link' %>


  <%= f.error :base %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-info' %>
    <%= link_to 'cancel', home_path, :class => 'btn' %>
  </div>

<% end %>