<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <% if !current_user.nil? && current_user.admin %>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %><br />
  </div>

  <% else %>

    <%= f.input :gender, :collection => [:male, :female] %>
    <%= f.input :age, :collection => 18..110 %>
    <%= f.input :avatar_file, label: 'Upload Avatar' %>
    <%= f.input :remote_avatar_file_url, label: 'Avatar Link' %>

  <% end %>

  <%= f.error :base %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-info' %>
    <%= link_to 'cancel', home_path, :class => 'btn' %>
  </div>

<% end %>