<div class="pull-right">
  <small><%= link_to 'Add a new user', new_user_path %> </small>
</div>

<div>
  <h4>xTunes Users</h4>

  <div class="row-fluid" "span12">

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Admin</th>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.age %></td>
          <td><%= user.gender %></td>
          <td><%= user.admin %></td>
          <td><small>
            <%= link_to 'Show', user %> |
            <%= link_to 'Edit', edit_user_path(user) %> |
            <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>