  <% favorite = song.favorites.find_by_user_id(current_user.id) %>
 <tr>

        <td><%= link_to truncate(song.name, :length => 20), song %></td>

        <td>
          <% song.artists.each do |artist|%>
            <%= link_to artist.name, artist %></br>
          <% end %>
        </td>

        <td>
          <% song.albums.each do |album| %>
            <%= link_to truncate(album.name, :length => 30), album %></br>
          <% end %>
        </td>

        <td>
          <% song.genres.each do |genre|%>
            <%= link_to genre.name, genre %></br>
          <% end %>
        </td>

        <td>
          <%= audio_tag(song.audiofile, :controls => true) %>
        </td>

        <td>
          <% if favorite.is_fave %>
            <%= link_to('fave!', favorite, method: :post, :class => 'btn btn-danger btn-mini') %>
          <% else %>
            <%= link_to('fave?', favorite, method: :post, :class => 'btn btn-mini') %>
          <% end %>
        </td>

      </tr>