<div class="pull-right">
    <small><%= link_to 'Add a mixtape', new_mixtape_path %> </small>
</div>

<div>
  <h4><%= current_user.name %>'s xTunes Mixtapes</h4>

    <% current_user.mixtapes.each do |mixtape| %>

      <div class="row-fluid" "span12">

        <div class="span3">

          <p><strong><%= link_to mixtape.name, mixtape %></strong></p>

          <small>
            <%= link_to 'Details', mixtape %> |
            <%= link_to 'Edit', edit_mixtape_path(mixtape) %> |
            <%= link_to 'Delete', mixtape, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small>

        </div>

        <div class="span9">

          <table class="table table-condensed table-hover">

            <%= render :partial => 'shared/user_table_head' %>

            <tbody>
              <% mixtape.songs.each do |song| %>
                <%= render :partial => 'shared/user_song', :locals => {:song => song} %>
              <% end %>
            </tbody>

          </table>

        </div>

        <div class="span12">
        </div>

      </div>

    <% end %>

</div>