<div class="pull-right">
    <small><%= link_to 'Add a mixtape', new_mixtape_path %> </small>
</div>

<div>
  <h4><%= current_user.name %>'s xTunes Mixtapes</h4>

  <div class="row-fluid" "span12">

    <% current_user.mixtapes.order(:name).each do |mixtape| %>

      <div class="mixtape">

        <small>
          <%= link_to 'Details', mixtape %> |
          <%= link_to 'Edit', edit_mixtape_path(mixtape) %> |
          <%= link_to 'Delete', mixtape, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>

        <% if mixtape.mximg_file.blank? %>
          <p><%= link_to (image_tag("/assets/albumcover.png", :size => "100x100", :class => "img-polaroid")), mixtape %></p>
        <% else %>
          <p><%= link_to (image_tag(mixtape.mximg_file_url.to_s, :size => "100x100", :class => "img-polaroid")), mixtape %></p>
        <% end %>

        <p><strong><%= link_to mixtape.name, mixtape %></strong></p>

        <dl class="dl-horizontal">
          <dt><small>Songs</small></dt>
            <dd><small>
              <% mixtape.songs.shuffle[0, 3].each do |song| %>
               <%= link_to truncate(song.name, :length => 25), song %></br>
              <% end %>
            </small></dd>
        </dl>

      </div>

    <% end %>

  </div>

</div>