<h1>Welcome to xTunes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artists</th>
    <th>Album</th>
    <th>Price</th>
    <th></th>
  </tr>

  <% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>

    <td>
      <% song.artists.each do |a|%>
        <%= a.name %>
      <% end %></td>

    <td><%= song.album.try(:name) %></td>
    <td><%= number_to_currency(song.price) %></td>

    <td><%= link_to 'Purchase', new_purchase_path(song) %></td>
  </tr>
<% end %>


</table>