<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :audiofile %><br />
    <%= f.file_field :audiofile %>
  </div>

  <div class="field">
    <%= f.label :artist_ids, "Artists" %><br />
    <%= f.collection_select :artist_ids, Artist.order(:name), :id, :name, {}, {multiple: true} %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.select :genre_id, Genre.all.map{ |genre| [genre.name, genre.id]} %>
  </div>

  <div class="field">
    <%= f.label :album %><br />
    <%= f.select :album_id, Album.all.map{ |album| [album.name, album.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
