<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :audiofile %><br />
    <%= f.file_field :audiofile %>
  </div>

  <div class="field">
    <%= f.label :artist %><br />
    <% @artists.each do |artist| %>
      <%= check_box_tag 'song[artist_ids][]', artist.id, @song.artists.compact.include?(artist) %>
      <%= artist.name %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :album %><br />
    <%= f.select :album_id, Album.all.map{ |album| [album.name, album.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
