<%= simple_form_for @song, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :audiofile, label: 'Upload Audio File' %>
  <%= f.input :remote_audiofile_url, label: 'Audio File Link' %>

  <%= f.association :artists, :collection => Artist.all(:order => 'name') %>
  <%= f.association :albums, :collection => Album.all(:order => 'name') %>
  <%= f.association :genres, :collection => Genre.all(:order => 'name') %>

  <%= f.error :base %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-info' %>
    <%= link_to 'cancel', songs_path, :class => 'btn' %>
  </div>

<% end %>
