<%= simple_form_for @song, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :audiofile, label: 'Upload Audio File' %>
  <%= f.input :remote_audiofile_url, label: 'Audio File Link' %>

  <%= f.association :artists, :collection => Artist.all(:order => 'name') %>

  <%= f.association :albums, :collection => Album.all(:order => 'name') %>
  <%= f.association :genres, :collection => Genre.all(:order => 'name') %>

  <hr>
  <h5>Add a New Artist</h5>
    <%= f.simple_fields_for :artists, :html => { :class => 'form-horizontal' } do |artist_form| %>

      <%= artist_form.input :name %>
      <%= artist_form.input :dob, label: 'Date of Birth',
      :as => :date, :start_year => 1800,
      :end_year => Date.today.year - 10,
      :order => [:day, :month, :year], :prompt => { :day => 'day', :month => 'month', :year => 'year'} %>
      <%= artist_form.input :photo, label: 'Upload Artist Photo' %>
      <%= artist_form.input :remote_photo_url, label: 'Artist Photo Link' %>
      <%= artist_form.input :bio, :input_html => { :rows => 5 } %>

    <% end %>
  <hr>

  <hr>
  <h5>Add a New Album</h5>
    <%= f.simple_fields_for :albums, :html => { :class => 'form-horizontal' } do |album_form| %>

    <%= album_form.input :name %>
    <%= album_form.input :release, label: 'Release Date',
    :as => :date, :start_year => 1910,
    :order => [:day, :month, :year], :prompt => { :day => 'day', :month => 'month', :year => 'year'} %>
    <%= album_form.input :cover_file, label: 'Upload Album Cover' %>
    <%= album_form.input :remote_cover_file_url, label: 'Album Cover Link' %>

    <% end %>
  <hr>

  <%= f.error :base %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-info' %>
    <%= link_to 'cancel', songs_path, :class => 'btn' %>
  </div>

<% end %>
