<h1>Songs Listing</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Artists</th>
    <th>Album</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.price %></td>
    <td>
      <% song.artists.each do |a|%>
        <%= a.name %>
      <% end %>
    </td>
    <td><%= song.album.try(:name) %></td>

    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>