<div class="pull-right">
  <small><%= link_to 'Add a song', new_song_path %> </small>
</div>

<div>
  <h4>xTunes Songs</h4>

  <div class="row-fluid" "span12">

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Genre</th>
          <th>Buy</th>
          <th>Play</th>
          <th></th>
        </tr>
      </thead>

      <% @songs.each do |song| %>
      <tr>

        <td><%= link_to song.name, song %></td>

        <td>
          <% song.artists.each do |artist|%>
            <%= link_to artist.name, artist %></br>
          <% end %>
        </td>

        <td>
          <% song.albums.each do |album| %>
            <%= link_to album.name, album %></br>
          <% end %>
        </td>

        <td>
          <% song.genres.each do |genre|%>
            <%= link_to genre.name, genre %></br>
          <% end %>
        </td>

        <td>
          <%= number_to_currency(song.price) %>
          <%= link_to('buy', buy_song_path(song), :class => 'btn btn-info btn-mini') if (current_user) && (!current_user.songs.include?(song)) %>
        </td>

        <td> <%= audio_tag(song.audiofile, :controls => true) if (current_user) && (current_user.songs.include?(song)) %>
        </td>

        <td><small>
          <%= link_to 'Details', song %> |
          <%= link_to 'Edit', edit_song_path(song) %> |
          <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
