<h1>Songs Listing</h1>

<table>
  <tr>
    <th>Name</th>

    <th>Artists</th>
    <th>Albums</th>
    <th>Genres</th>
    <th>Price</th>
    <th>Purchase</th>
    <th>Play</th>
  </tr>

<% @songs.each do |song| %>
  <tr>

    <td><%= link_to song.name, song %></td>

    <td>
      <% song.artists.each do |art|%>
        <%= art.name %>
      <% end %>
    </td>
    <td>
      <% song.albums.each do |alb|%>
        <%= alb.name %>
      <% end %>
    </td>
    <td>
    <% song.genres.each do |gen|%>
        <%= gen.name %>
      <% end %>
    </td>

    <td><%= number_to_currency(song.price) %></td>

    <td> <%= link_to('buy', buy_song_path(song), :class => 'btn btn-primary btn-small') if (current_user) && (!current_user.songs.include?(song)) %> </td>

    <td> <%= audio_tag(song.audiofile, :controls => true) if (current_user) && (current_user.songs.include?(song)) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
