<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@song.price) %>
</p>

<p>
  <b>Artists:</b>
    <% @song.artists.each do |art|%>
      <%= art.name %>
    <% end %>
</p>

<p>
  <b>Albums:</b>
    <% @song.albums.each do |alb|%>
      <%= alb.name %>
    <% end %>
</p>

<p>
  <b>Genres:</b>
    <% @song.genres.each do |gen|%>
      <%= gen.name %>
    <% end %>
</p>

  <%= link_to 'Back to all songs', songs_path %> |
  <%= link_to 'Edit this song', edit_song_path(@song) %> |
  <%= link_to 'Delete this song', @song, method: :delete, data: { confirm: 'Are you sure?' } %>
