<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@song.price) %>
</p>

<p>
  <b>Artists:</b>
    <% @song.artists.each do |art|%>
      <%= art.name %>
    <% end %>
</p>

<p>
  <b>Albums:</b>
    <% @song.albums.each do |alb|%>
      <%= alb.name %>
    <% end %>
</p>

<p>
  <b>Genres:</b>
    <% @song.genres.each do |gen|%>
      <%= gen.name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>