<%= form_for(@album) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :release_year %><br />
    <%= f.text_field :release_year %>
  </div>

  <div class="field">
    <%= f.label :cover_file %><br />
    <%= f.file_field :cover_file %>
  </div>

  <div class="field">
    <%= f.label :remote_cover_file_url, 'or add image URL' %><br />
    <%= f.text_field :remote_cover_file_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>