<% if admin_user %>
  <div class="pull-right">
    <small><%= link_to 'Add an album', new_album_path %> </small>
  </div>
<% end %>

<div>
  <h4>xTunes Albums</h4>

  <div class="row-fluid" "span12">

    <% @albums.each do |album| %>

      <div class="album">

      <% if admin_user %>
        <small>
          <%= link_to 'Details', album %> |
          <%= link_to 'Edit', edit_album_path(album) %> |
          <%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
      <% end %>

      <%= link_to (image_tag(album.cover_file_url.to_s, :size => "150x150", :class => "img-polaroid")), album %>

      <dl class="dl-horizontal">
        <dt><small>Title</small></dt>
          <dd><small><%= truncate(album.name, :length => 20) %></small></dd>
        <dt><small>Release</small></dt>
          <dd><small><%= album.release.year %></small></dd>
        <dt><small>Genres</small></dt>
          <dd><small>
            <% album.genres.uniq[0, 3].each do |genre| %>
             <%= link_to genre.name, genre %></br>
            <% end %>
          </small></dd>
      </dl>

      </div>

    <% end %>

  </div>

  </div>