<p id="notice"><%= notice %></p>

  <div class="pull-right">
    <small><%= link_to 'Edit', edit_album_path(@album) %> |
    <%= link_to 'Delete', @album, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', albums_path %> </small>
  </div>

  <h4><%= @album.name %></h4>


  <div class="row-fluid">
    <div class="span3">

      <%= image_tag(@album.cover_file_url.to_s ||= "/assets/album_cover_default.png", :size => "175x175", :class => "img-polaroid") %>

      <dl class="dl">
      <dt><small>RELEASE</small></dt>
      <dd><small><%= @album.release.to_formatted_s(:long) %></small></dd>
      <dt><small>GENRE</small></dt>
      <dd><small>
        <% @album.genres.uniq.each do |genre| %>
          <%= link_to genre.name, genre %></br>
        <% end %>
      </small></dd>
      </dl>

    </div>

    <div class="span9">
    <h6>SONGS</h6>

      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Time</th>
            <th>Buy</th>
          </tr>
        </thead>

        <tbody>
          <% @album.songs.each do |song|%>
            <tr>
              <td><%= link_to song.name, song %></td>

              <td>
                <% song.artists.each do |artist| %>
                  <%= link_to artist.name, artist %>
                <% end %>
              </td>

              <td><% song.genres.each do |genre| %>
                  <%= link_to genre.name, genre %>
                <% end %>
              </td>

              <td><%= number_to_currency(song.price) %></td>

              <td><% %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>