<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@album.cover_file_url.to_s, :size => "125x125", :class => "img-rounded") %>
</p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Release:</b>
  <%= @album.release %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>