<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@album.cover_file, :size => "125x125") %>
</p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Release:</b>
  <%= @album.release_year %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>