<div class="pull-right">
  <small>
    <% if admin_user %>
      <%= link_to 'Edit', edit_album_path(@album) %> |
      <%= link_to 'Delete', @album, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'View all albums', albums_path %>
    <% end %>
  </small>
</div>


<div>

  <h4><%= @album.name %></h4>

  <div class="row-fluid">

    <div class="span3">

      <%= image_tag(@album.cover_file_url.to_s, :size => "225x225", :class => "img-polaroid") %>

      <dl class="dl-horizontal">
        <dt><small>Release</small></dt>
          <dd><small><%= @album.release.year %></small></dd>
        <dt><small>Genre</small></dt>
          <dd><small>
            <% @album.genres.uniq.each do |genre| %>
              <%= link_to genre.name, genre %></br>
            <% end %>
          </small></dd>
      </dl>

    </div>

    <div class="span9">

      <table class="table table-condensed table-hover">

      <%= render :partial => 'shared/table_head' %>

        <tbody>
          <%= render :partial => 'shared/song', :collection => @album.songs, :as => :song %>
        </tbody>
      </table>
    </div>

  </div>

</div>