<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "xtunes" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= link_to "xTunes", home_path, :class => 'brand' %>

          <ul class="nav">
            <li><%= link_to "browse music", songs_path %></li>
            <li><%= link_to "by song", songs_path %></li>
            <li><%= link_to "by artist", artists_path %></li>
            <li><%= link_to "by album", albums_path %></li>
            <li><%= link_to "by genre", genres_path %></li>
          </ul>

            <div class="pull-right">
              <ul class="nav">

              <% if admin_user %>

              <li><%= link_to "manage users", users_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"href="/home"><%= "manage music" %></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "add song", new_song_path %></li>
                    <li><%= link_to "add artist", new_artist_path %></li>
                    <li><%= link_to "add album", new_album_path %></li>
                    <li><%= link_to "add genre", new_album_path %></li>
                  </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"href="/home"><%= "#{current_user.name}" %></a>
                  <ul class="dropdown-menu">
                      <li><%= link_to "manage account", edit_user_path(current_user) %></li>
                    <li><%= link_to "log out", logout_path %></li>
                  </ul>
              </li>

              <% elsif current_user && !admin_user %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"href="/home"><%= "#{current_user.name}'s xTunes collection" %></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "by song", songs_collection_path %></li>
                  </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"href="/home"><%= "#{current_user.name}'s account" %></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "edit profile", edit_user_path(current_user) %></li>
                    <li><%= link_to "log out", logout_path %></li>
                  </ul>
              </li>
                <li><%= image_tag current_user.avatar_file_url, :size => "39x39" %></li>

              <% else %>
                <li><%= link_to "sign up", signup_path %></li>
                <li><%= link_to "log in", login_path %></li>
              <% end %>

              </ul>
            </div>
          </ul>
        </div>
        </div>
      </nav>
    </header>

    <div id="main" role="main">
      <div class="container">

        <%= render 'layouts/messages' %>

        <div class="content">
           <div class="row">
            <div class="span12">

              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

<%= debug(params) if Rails.env.development? %>

  </body>
</html>